<div class="row">
    <div class="col-12">
        <div class="filter-container isotopeFilters">
            <ul class="list-inline filter">
                <li [ngClass]="{'active': customizer == 'all' }"><a (click)="openGallery('all')">All </a></li>
<!--                <div *ngFor="let record of catgories;">-->
                    <li [ngClass]="{'active': customizer == catgories1.name}"><a (click)="openGallery(catgories1.name)">{{catgories1.name}}</a>
                    </li>

<!--                </div>-->

                <li [ngClass]="{'active': customizer == catgories2.name}"><a (click)="openGallery(catgories2.name)">{{catgories2.name}}</a></li>
                <li [ngClass]="{'active': customizer == catgories3.name}"><a (click)="openGallery(catgories3.name)">{{catgories3.name}}</a></li>
                <li [ngClass]="{'active': customizer == catgories4.name}"><a (click)="openGallery(catgories4.name)">{{catgories4.name}}</a></li>
            </ul>
        </div>
    </div>
</div>
<div class="isotopeContainer row">
    <ng-container *ngIf="customizer=='all'">
        <figure class="my-app-custom-image-with-desc p-width" *ngFor="let img of allImages">
            <div class="isotopeSelector shoes fashion ">
                <div class="overlay">
                    <div class="border-portfolio">
                        <div class="overlay-background">
                            <i class="fa fa-eye" style="cursor: pointer" aria-hidden="true" (click)="openImageModalRowDescription(img)"></i>
                        </div>
                        <img [src]="img.modal.img" style="height: 220px;" />
                    </div>
                </div>
            </div>
        </figure>
    </ng-container>
    <ng-container *ngIf="customizer==catgories1.name">
        <app-fashion class="w-100"></app-fashion>
    </ng-container>
    <ng-container *ngIf="customizer==catgories2.name">
        <app-bags class="w-100"></app-bags>
    </ng-container>
    <ng-container *ngIf="customizer==catgories3.name">
        <app-shoes class="w-100"></app-shoes>
    </ng-container>
    <ng-container *ngIf="customizer==catgories4.name">
        <app-watch class="w-100"></app-watch>
    </ng-container>
    <ks-modal-gallery [id]="1" [modalImages]="allImages" [plainGalleryConfig]="customPlainGalleryRowDescConfig"
        [buttonsConfig]="buttonsConfigCustom">
    </ks-modal-gallery>
</div>
<!-- pagination Start -->
<!--<div class="pagination_sec">-->
<!--    <div class="content_detail__pagination cdp">-->
<!--        <ul>-->
<!--            <li><a href="javascript:void(0)" class="prev"><i class="fa fa-angle-double-left" aria-hidden="true"></i></a>-->
<!--            </li>-->
<!--            <li><a href="javascript:void(0)" class="active cdp_i">1</a></li>-->
<!--            <li><a href="javascript:void(0)" class="cdp_i">2</a></li>-->
<!--            <li><a href="javascript:void(0)" class="cdp_i">3</a></li>-->
<!--            <li><a href="javascript:void(0)" class="next"><i class="fa fa-angle-double-right"-->
<!--                        aria-hidden="true"></i></a></li>-->
<!--        </ul>-->
<!--    </div>-->
<!--</div>-->
<!-- pagination End -->
