<app-add-image #linsh (itemSaved)="onSaved()"></app-add-image>


<!--<div class="row">-->
<div class="col-12">

    <div class="col-12">
        <div class="card mb-4">
            <div class="card-body">
                <div class="form-group">
                    <ng-multiselect-dropdown #linishSelect
                                             [settings]="settings"
                                             [data]="categoriesList"
                                             [disabled]="false"
                                             (onFilterChange)="onFilterChange($event)"
                                             (onDropDownClose)="onDropDownClose($event)"
                                             (onSelect)="onCategorySelect($event)"
                                             (onDeSelect)="onDeSelectCategory($event)"
                                             (onSelectAll)="onSelectAll($event)"
                                             (onDeSelectAll)="onDeSelectAll($event)">
                    </ng-multiselect-dropdown>
                </div>
                <ngx-dropzone (change)="onSelect($event)">
                    <ngx-dropzone-label>Click Or Drop Your File Here</ngx-dropzone-label>
                    <ngx-dropzone-preview *ngFor="let f of files" [removable]="true" (removed)="onRemove(f)">
                        <ngx-dropzone-label>{{ f.name }} ({{ f.type }})</ngx-dropzone-label>
                    </ngx-dropzone-preview>
                </ngx-dropzone>
            </div>
            <div class="card-footer">
                <button type="button" (click)="save()"
                        class="btn btn-primary float-right col-2 ">{{ 'pages.submit' | translate}}</button>
            </div>
        </div>
    </div>
    <app-heading></app-heading>
    <div class="display-options-container">
        <a class="btn pt-0 pl-0 d-inline-block d-md-none c-pointer" data-toggle="collapse"
           (click)="displayOptionsCollapsed = !displayOptionsCollapsed" role="button" aria-expanded="true"
           aria-controls="displayOptions">
            {{ 'pages.display-options' | translate}} {{' '}}
            <i class="simple-icon-arrow-down align-middle"></i>
        </a>
        <div id="displayOptions" [collapse]="displayOptionsCollapsed" class="collapse dont-collapse-sm">
            <div class="d-inline-block col-lg-12" style="margin: 0px;padding: 0px;">

                <div class="float-right" *ngIf="showItemsPerPage">

                    <span class="text-muted text-small">{{'Per page ' | translate}}</span>
                    <span dropdown class="d-inline-block position-relative">
                            <button class="btn btn-outline-dark btn-xs dropdown-toggle" type="button"
                                    data-toggle="dropdown"
                                    aria-haspopup="true" aria-expanded="false" dropdownToggle>
                              {{itemsPerPage}}
                            </button>
                            <div class="dropdown-menu dropdown-menu-right dropdown-menu-sm text-right" *dropdownMenu>
                              <li role="menuitem" *ngFor="let item of itemOptionsPerPage">
                                  <a [ngClass]="item === itemsPerPage ? 'dropdown-item active' : 'dropdown-item'"
                                     (click)="onChangeItemsPerPage(item)">{{item}}
                                  </a>
                              </li>
                            </div>
                    </span>
                </div>
            </div>
        </div>

        <div hidden class="separator mb-4"></div>
    </div>
</div>

<!--            <context-menu #basicMenu>-->

<!--                <ng-template contextMenuItem let-item (execute)="onContextMenuClick('update',$event.item)">-->
<!--                    <i class="simple-icon-drawer mr-1"></i> <span>Update</span>-->
<!--                </ng-template>-->
<!--                <ng-template contextMenuItem let-item (execute)="onContextMenuClick('delete',$event.item)">-->
<!--                    <i class="simple-icon-trash mr-1"></i><span>Delete</span>-->
<!--                </ng-template>-->
<!--            </context-menu>-->
<!--            <div class="row">-->
<!--                <div class="col-12 list">-->
<!--                    <div style="background-color:#e3e3e3 " [ngClass]="{'card d-flex flex-row' :true}">-->
<!--                        <div class="d-flex flex-grow-1 min-width-zero ">-->
<!--                            <div style="margin-right: 45px;"class="card-body align-self-center d-flex flex-column flex-md-row justify-content-between min-width-zero align-items-md-center">-->
<!--                                &lt;!&ndash;                        <h2 class="mb-0 list-item-heading w-6 w-xs-100">Id</h2>&ndash;&gt;-->
<!--                                <h2 class="list_sub_style mb-0 list-item-heading w-15 w-xs-100">Image ID</h2>-->
<!--                                <h2 class="list_sub_style mb-0 list-item-heading w-15 w-xs-100">Image Title</h2>-->
<!--                                <h2 class="list_sub_style mb-0 list-item-heading w-15 w-xs-100">File Name</h2>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--        <div class="row">-->
<!--            <div class="col-12 list">-->
<!--                <div [ngClass]="{'card d-flex flex-row mb-3': true, 'active':isSelected(record)}"-->
<!--                     *ngFor="let record of beneficiaries; let i=index"-->
<!--                     [contextMenu]="basicMenu" [contextMenuSubject]="record">-->


<!--                    <div class="d-flex flex-grow-1 min-width-zero">-->
<!--                        <div class="card-body align-self-center d-flex flex-column flex-md-row justify-content-between min-width-zero align-items-md-center">-->
<!--                            <a class="list_sub_style list-item-heading mb-0 truncate w-15 w-xs-100" href="javascript:;"> 12345678</a>-->
<!--                            <p class="list_sub_style mb-0 text-muted  w-15 w-xs-100">Catch App</p>-->
<!--                            <p class="list_sub_style mb-0 text-muted  w-15 w-xs-100">My own Catch App</p>-->

<!--                        </div>-->
<!--                        <label class="custom-control custom-checkbox mb-1 align-self-center pr-4">-->
<!--                            <input type="checkbox" class="custom-control-input" [id]="'customCheck'+i"-->
<!--                                   [checked]="isSelected(record)"-->
<!--                                   (change)="onSelect(record)">-->
<!--                            <label class="custom-control-label" [for]="'customCheck'+i"></label>-->
<!--                        </label>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="col-12">-->
<!--                <pagination [totalItems]="totalItem" [itemsPerPage]="itemsPerPage" [rotate]="true" [maxSize]="5"-->
<!--                            [(ngModel)]="currentPage" (pageChanged)="pageChanged($event)" class="justify-content-center"-->
<!--                            [customNextTemplate]="nextTemplate" [customPreviousTemplate]="prevTemplate">-->
<!--                </pagination>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->
<context-menu #basicMenu>
    <ng-template contextMenuItem let-item (execute)="onContextMenuClick('delete',$event.item)">
        <i class="simple-icon-trash mr-1"></i><span>Delete</span>
    </ng-template>
</context-menu>

<div *ngIf="images!==null" class="col-12 list">
    <div class="row">
        <div class="col-xl-3 col-lg-4 col-12 col-sm-6 mb-4" *ngFor="let p of images; let i=index"
             [contextMenu]="basicMenu" [contextMenuSubject]="p">
            <div [ngClass]="{'card': true, 'active':isSelected(p.ImageGalleryTitle)}">
                <div class="position-relative">
                    <a href="javascript:;"><img class="card-img-top" [src]="p.imageUrl" [alt]="p.title"></a>
                    <span [class]="'badge badge-pill badge-secondary badge-top-left position-absolute'">{{p.imageGalleryTitle}}</span>
                </div>
            </div>

        </div>
    </div>
    <div class="col-12">
        <pagination [totalItems]="totalItem" [itemsPerPage]="itemsPerPage" [rotate]="true" [maxSize]="5"
                    [(ngModel)]="currentPage" (pageChanged)="pageChanged($event)" class="justify-content-center"
                    [customNextTemplate]="nextTemplate" [customPreviousTemplate]="prevTemplate">
        </pagination>
    </div>
</div>

<ng-template #nextTemplate let-disabled="disabled" let-currentPage="currentPage">
    <i class='simple-icon-arrow-right'></i>
</ng-template>
<ng-template #prevTemplate let-disabled="disabled" let-currentPage="currentPage">
    <i class='simple-icon-arrow-left'></i>
</ng-template>

