
.custom-file-profile {
    position: absolute;
    top: 0;
    right: 0px;
    z-index: 1;
    height: calc(2.25rem + 2px);
    padding: 0.585rem 7px;
    line-height: 1.5;
    width: 100%;
    color: #495057;
    border-radius: 5px;
    border: 1px solid #e3e3e3;
}

.custom-file-profile::after {
    position: absolute;
    border-radius: 5px;
    right: 0;
    bottom: 0;
    z-index: 3;
    display: block;
    width: 25%;
    font-size: 10pt;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: black;
    content: "Browse";
    text-align: center;
    background-color: #e3e3e3;
    padding: 9px 0px;
    margin: 1px 1px;
}

