<div class="card mb-5">
    <div class="card-body">
        <aw-wizard>
            <aw-wizard-step stepTitle="{{ 'wizard.step-name-1' | translate }}" style="min-height: 620px;">
                <!--                       <form [formGroup]="boatRegistrationForm" (ngSubmit)="onsubmit()">-->
                <div>
                    <form #objectionRegisterForm="ngForm" (ngSubmit)="onSubmit()">
                        <div class="custom_container mt-3">
                            <div class="form-row">
                                <div class="col-lg-6">
                                    <label class="form_label required lable_style">Member No*</label>
                                    <div class="form-group">
                                        <select [(ngModel)]="member.memberNo" class="form-control forms_margin "
                                                name="memberNo"
                                                required>
                                            <option value="mbr0001">MBR0001</option>
                                            <option value="mbr0002">MBR0002</option>
                                            <option value="mbr0003">MBR0003</option>
                                            <option value="mbr0004">MBR0004</option>
                                            <option value="mbr0005">MBR0005</option>

                                        </select>
                                    </div>
                                </div>
                                <div class="form-group col-lg-6">
                                    <label class="form_label required lable_style">Emirates ID/National ID*</label>
                                    <input type="text" #name="ngModel"
                                           [(ngModel)]=" member.memberEmiratesId" name="memberEmiratesId"
                                           class=" form-control" id="inputtext8"
                                           placeholder="">
                                </div>

                            </div>


                            <div class="form-row">
                                <div class="form-group col-lg-6">
                                    <label class="form_label required lable_style">Name[En]*</label>
                                    <input #name="ngModel"
                                           [(ngModel)]=" member.memberNameEn" name="memberNameEn" type="text"
                                           class="form-control"
                                           id="inputtexta4" placeholder="">
                                </div>
                                <div class="form-group col-lg-6">
                                    <label class="form_label required lable_style">Name[Ar]*</label>
                                    <input type="text" #name="ngModel"
                                           [(ngModel)]=" member.memberNameAr" name="memberNameAr" class="form-control"
                                           id="inputtexta5"
                                           placeholder="">
                                </div>
                                <div class="form-row col-lg-12">
                                    <div class="col-lg-6">
                                        <label class="form_label required lable_style">Nationality*</label>
                                        <div class="form-group">
                                            <select class="form-control forms_margin " name="" required>
                                                <option value="uae">UAE</option>
                                                <option value="uae">ABU DHABI</option>
                                                <option value="uae">Oman</option>
                                                <option value="uae">Qatar</option>
                                            </select>
                                        </div>
                                    </div>

                                    <div class="col-lg-6">
                                        <label class="form_label required lable_style">Date of Birth*</label>
                                        <input type="Date" #name="ngModel"
                                               [(ngModel)]="member.memberDateOfBirth" name="memberDateOfBirth"
                                               class="form-control"
                                               id="inputtexta5" placeholder="">
                                    </div>
                                </div>

                                <div class="form-row col-md-12">
                                    <div class="form-group col-lg-6">
                                        <label class="form_label required lable_style">Mobile No</label>
                                        <input type="text" name="ngModel"
                                               [(ngModel)]=" member.memberMobileNo" name="memberMobileNo"
                                               class="form-control" id="inputtext2" placeholder="">
                                    </div>

                                    <div class="form-group col-lg-6">
                                        <label class="form_label required lable_style">text Address</label>
                                        <input type="text" class="form-control" id="inputtext3" placeholder="">
                                    </div>
                                </div>


                                <div class="form-row col-md-12">
                                    <div class="col-lg-6">
                                        <label class="form_label required lable_style">Date of Registration
                                            Date*</label>
                                        <input type="Date" class="form-control" id="inputtext4" placeholder="">
                                    </div>

                                    <div class="col-lg-6">
                                        <label class="form_label required lable_style">Date of Expiry Date</label>
                                        <input type="Date" class="form-control" id="inputtext5" placeholder="">
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="form-group col-lg-6">
                                        <label class="form_label required lable_style">Picture</label>
                                        <div class="custom-file">
                                            <div style="height:0px;overflow:hidden">
                                                <input type="file" class="custom-file-input"
                                                       accept="image/jpg, image/jpeg, image/png" id="custom-file-input1"
                                                       name="image" required>
                                                <label class="custom-file-profile forms_margin"
                                                       for="custom-file-input1"></label>
                                            </div>
                                        </div>
                                    </div>


                                    <div class="form-group col-lg-6">
                                        <label class="form_label required lable_style">Signature</label>
                                        <div class="custom-file">
                                            <div style="height:0px;overflow:hidden">
                                                <input type="file" class="custom-file-input"
                                                       accept="image/jpg, image/jpeg, image/png" id="custom-file-input2"
                                                       name="image" required>
                                                <label class="custom-file-profile forms_margin"
                                                       for="custom-file-input2"></label>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!--                            <div class="modal-footer">-->
                                <!--                                <button type="button" class="btn btn-outline-primary"-->
                                <!--                                        (click)="modalRef.hide()">{{'pages.cancel' | translate }}</button>-->
                                <!--                                <button type="submit" class="btn btn-primary float-right">Card Scan</button>-->
                                <!--                                <button type="submit"-->
                                <!--                                        class="btn btn-primary float-right">{{ 'pages.submit' | translate}}</button>-->
                                <!--                            </div>-->
                            </div>
                        </div>
                        <button type="submit">sumbit</button>
                    </form>

                </div>

                <div class="text-center">
                    <button type="button" class="btn btn-primary" awPreviousStep
                            disabled>{{ 'wizard.prev' | translate }}</button>
                    {{" "}}
                    <button type="submit" class="btn btn-primary" awNextStep>{{ 'wizard.next' | translate }}</button>
                </div>
            </aw-wizard-step>
            <aw-wizard-step stepTitle="{{ 'wizard.step-name-2' | translate }}" style="min-height: 120px;">


                <div class="form-row">
                    <div class="col-lg-6">
                        <label class="form_label required lable_style">60FT Dhow Sailing</label>
                        <div class="form-group">
                            <select class="form-control forms_margin " name="" required>
                                <option value="" selected disabled></option>
                                <option value=""></option>
                                <option value=""></option>
                            </select>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <label class="form_label required lable_style">Skipper</label>
                        <div class="form-group">
                            <select class="form-control forms_margin " name="" required>
                                <option value="" selected disabled></option>
                                <option value=""></option>
                                <option value=""></option>
                            </select>
                        </div>
                    </div>

                </div>

                <div class="form-row">
                    <div class="col-lg-6">
                        <label class="form_label required lable_style">22FT Dhow Sailing</label>
                        <div class="form-group">
                            <select class="form-control forms_margin " name="" required>
                                <option value="" selected disabled></option>
                                <option value=""></option>
                                <option value=""></option>
                            </select>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <label class="form_label required lable_style">Skipper</label>
                        <div class="form-group">
                            <select class="form-control forms_margin " name="" required>
                                <option value="" selected disabled></option>
                                <option value=""></option>
                                <option value=""></option>
                            </select>
                        </div>
                    </div>

                </div>

                <div class="form-row">
                    <div class="col-lg-6">
                        <label class="form_label required lable_style">43FT Dhow Sailing</label>
                        <div class="form-group">
                            <select class="form-control forms_margin " name="" required>
                                <option value="" selected disabled></option>
                                <option value=""></option>
                                <option value=""></option>
                            </select>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <label class="form_label required lable_style">Skipper</label>
                        <div class="form-group">
                            <select class="form-control forms_margin " name="" required>
                                <option value="" selected disabled></option>
                                <option value=""></option>
                                <option value=""></option>
                            </select>
                        </div>
                    </div>

                </div>

                <div class="form-row">
                    <div class="col-lg-6">
                        <label class="form_label required lable_style">AlBwanish Sailing</label>
                        <div class="form-group">
                            <select class="form-control forms_margin " name="" required>
                                <option value="" selected disabled></option>
                                <option value=""></option>
                                <option value=""></option>
                            </select>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <label class="form_label required lable_style">Skipper</label>
                        <div class="form-group">
                            <select class="form-control forms_margin " name="" required>
                                <option value="" selected disabled></option>
                                <option value=""></option>
                                <option value=""></option>
                            </select>
                        </div>
                    </div>

                </div>


                <div class="form-row">
                    <div class="form-group_top  offset-lg-8 col-lg-4 ">
                        <div class="float-right">
                            <!--                                        <button type="button" class="btn btn-custom_color" style="width: 130px">Card Scan</button>-->
                            <button type="button" class="btn btn_color">Save</button>
                        </div>
                    </div>
                </div>

                <hr>

                <div class="row ">
                    <h5 class="boat-managment_box_text-style3">Linsh Boat & Driver</h5>
                </div>

                <div class="form-row">

                    <div class="form-group col-lg-6">
                        <label class="form_label required lable_style">Linsh Boat</label>
                        <div class="form-group">
                            <select class="form-control forms_margin " name="" required>
                                <option value="" selected disabled></option>
                                <option value=""></option>
                                <option value=""></option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group col-lg-6">
                        <label class="form_label required lable_style">Driver</label>
                        <input type="text" class="form-control" placeholder="">
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group_top  offset-lg-8 col-lg-4 ">
                        <div class="float-right">

                            <button type="button" class="btn btn_color">Add</button>
                            <button type="button" class="btn btn_color">Save</button>
                        </div>
                    </div>
                </div>


                <div class="row ">
                    <h5 class="boat-managment_box_text-style3">Towing Boat & Driver</h5>
                </div>

                <div class="form-row">

                    <div class="form-group col-lg-6">
                        <label class="form_label required lable_style">Towing Boat</label>
                        <div class="form-group">
                            <select class="form-control forms_margin " name="" required>
                                <option value="" selected disabled></option>
                                <option value=""></option>
                                <option value=""></option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group col-lg-6">
                        <label class="form_label required lable_style">Driver</label>
                        <input type="text" class="form-control" placeholder="">
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group_top  offset-lg-8 col-lg-4 ">
                        <div class="float-right">

                            <button type="button" class="btn btn_color">Add</button>
                            <button type="button" class="btn btn_color">Save</button>
                        </div>
                    </div>
                </div>

                <hr>

                <div class="form-row">
                    <div class="form-group_top  offset-lg-8 col-lg-4 ">
                        <div class="float-right">

                            <!--                            <button type="button" class="btn btn_color" data-toggle="modal"-->
                            <!--                                    data-target=".bd-example-modal-lg">Next-->
                            <!--                            </button>-->


                            <div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog"
                                 aria-labelledby="myLargeModalLabel" aria-hidden="true">
                                <div class="modal-dialog modal-lg">
                                    <div class="modal-content">
                                        <div class="custom_popup">
                                            <div class="row ">
                                                <h5 class="boat-managment_box_text-style3">Linsh Boat &
                                                    Driver</h5>
                                            </div>

                                            <form>
                                                <div class="form-row">
                                                    <div class="form-group col-lg-4">
                                                        <label
                                                                class="form_label required lable_style">Emirates
                                                            ID/National ID</label>
                                                        <input type="text" class="form-control"
                                                               id="inputtexta7" placeholder="">
                                                    </div>

                                                    <div class="form-group col-lg-4">
                                                        <label
                                                                class="form_label required lable_style">Driver
                                                            Name [En]*</label>
                                                        <input type="text" class="form-control"
                                                               id="inputtexta8" placeholder="">
                                                    </div>

                                                    <div class="form-group col-lg-4">
                                                        <label
                                                                class="form_label required lable_style">Driver
                                                            Name [Ar]*</label>
                                                        <input type="text" class="form-control"
                                                               id="inputtexta9" placeholder="">
                                                    </div>

                                                </div>

                                                <div class="form-row">
                                                    <div class="form-group col-lg-4">
                                                        <label
                                                                class="form_label required lable_style">Driver
                                                            Mobile No*</label>
                                                        <input type="text" class="form-control"
                                                               id="inputtextb1" placeholder="">
                                                    </div>

                                                    <div class="form-group col-lg-4">
                                                        <label
                                                                class="form_label required lable_style">Boat
                                                            Type*</label>
                                                        <div class="row custom_boatype">

                                                            <div class="pt-1  ml-3 checkbox">
                                                                <label>
                                                                    <input type="checkbox" value="">
                                                                    <span class="cr"><i
                                                                            class="cr-icon fa fa-check"></i></span>
                                                                    Linsh Boat
                                                                </label>
                                                            </div>

                                                            <div class="pt-1 ml-4 checkbox">
                                                                <label>
                                                                    <input type="checkbox" value="">
                                                                    <span class="cr"><i
                                                                            class="cr-icon fa fa-check"></i></span>
                                                                    Towing Boat
                                                                </label>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="form-group col-lg-4">
                                                        <label
                                                                class="form_label required lable_style">Boat
                                                            Number*</label>
                                                        <input type="text" class="form-control"
                                                               id="inputtext4b2" placeholder="">
                                                    </div>

                                                </div>

                                                <div class="form-row">
                                                    <div class="form-group col-lg-4">
                                                        <label
                                                                class="form_label required lable_style">Boat
                                                            Name*</label>
                                                        <input type="text" class="form-control"
                                                               id="inputtextb24" placeholder="">
                                                    </div>
                                                </div>

                                                <div class="form-row">
                                                    <div class="form-group_top  offset-lg-8 col-lg-4 ">
                                                        <div class="float-right">
                                                            <button type="button"
                                                                    class=" btn btn_color">Save
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>


                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="text-center">
                    <button type="button" class="btn btn-primary"
                            awPreviousStep>{{ 'wizard.prev' | translate }}</button>
                    {{" "}}
                    <button type="submit" class="btn btn-primary" awNextStep>{{ 'wizard.next' | translate }}</button>
                </div>
            </aw-wizard-step>

            <aw-wizard-step stepTitle="{{ 'wizard.step-name-3' | translate }}" style="min-height: 120px;">
                <div class="form-group">
                    <label>{{ 'forms.password' | translate }}</label>
                    <input type="password" class="form-control" name="password">
                </div>
                <div class="text-center">
                    <button type="button" class="btn btn-primary"
                            awPreviousStep>{{ 'wizard.prev' | translate }}</button>
                    {{" "}}
                    <button type="button" class="btn btn-primary" awNextStep>{{ 'wizard.next' | translate }}</button>
                </div>
            </aw-wizard-step>
            <aw-wizard-step stepTitle="{{ 'wizard.step' | translate }}" style="height: 120px;">
                <div class="text-center">
                    <h2 class="mb-2">{{ 'wizard.content-thanks' | translate }}</h2>
                    <p>{{ 'wizard.registered' | translate }}</p>
                </div>
                <div class="text-center">
                    <button type="button" class="btn btn-primary"
                            awPreviousStep>{{ 'wizard.prev' | translate }}</button>
                    {{" "}}
                    <button type="button" class="btn btn-primary" awNextStep
                            disabled>{{ 'wizard.next' | translate }}</button>
                </div>
            </aw-wizard-step>
        </aw-wizard>
    </div>
</div>

