body{
  background-color: #f8f8f8;
}

.dasboard-heading{
  font-weight: bold;
  color: #4b4b4b;
}

.dashboard-card{
  text-align: center;
  border-radius: 25px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
  transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
}

.dashboard-link, .dashboard-link:hover{
  text-decoration: none;
  color: transparent;
}

.dashboard-card:hover{
  box-shadow: 5px 8px 12px#b2bec3;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}

.dashboard-card:hover i{
  border: none;
  transform: scale(0.5,0.5);
  -webkit-transform: scale(0.5,0.5);
  -moz-transform: scale(0.5,0.5);
  -ms-transform: scale(0.5,0.5);
  -o-transform: scale(0.5,0.5);
}

.dashboard-card:hover h6{
  transform: scale(1.25,1.25);
  -webkit-transform: scale(1.25,1.25);
  -moz-transform: scale(1.25,1.25);
  -ms-transform: scale(1.25,1.25);
  -o-transform: scale(1.25,1.25);
}

.dashboard-card i{
  color: #f7f7ff;
  display: inline-block;
  text-align: left;
  font-size: 50px;
  padding: 8px;
  border-radius: 25px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
  transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
}

.boat-box{
  background-image:linear-gradient(to top right, #FFBE75,  #FFD775);
}
.boat-box:hover{
  background-image:linear-gradient(to top right, #FFD775, #FFBE75);
}

.sailor-box{
  background-image: linear-gradient(to top, #F49D80, #FDC181);
}

.sailor-box:hover{
  background-image: linear-gradient(to top, #FDC181, #F49D80);
}

.user-box{
  background-image: linear-gradient(to top, #65D9D9,   #65F6EE);
}

.user-box:hover{
  background-image: linear-gradient(to top,  #65F6EE, #65D9D9);
}

.race-box{
  background-image: linear-gradient(to top,    #C59BD4, #83B2E7);
}

.race-box:hover{
  background-image: linear-gradient(to top,   #84B2E7, #C49BD4);
}

.transfer-box{
  background-image: linear-gradient(to top,  #84AFE7, #C69BD4);
}

.transfer-box:hover{
  background-image: linear-gradient(to top,  #C69BD4,  #84AFE7);
}

.cup-box{
  background-image: linear-gradient(to top, #A4E5EB, #B5ADF1);
}

.cup-box:hover{
  background-image: linear-gradient(to top,  #B5ADF1,  #A4E5EB);
}


.dashboard-card h6{
  margin-top: 20%;
  margin-bottom: 0px;
  font-weight: bold;
  color: #f7f7ff;
  font-size: 15px;

  transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
}

.category-box{
  background-color: #ffffff;
  border-radius: 25px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
}

.category-box .category-img{
  border-right: 2px solid #636e72;
}

.category-box .category-text{
  font-weight: bold;
  color: #636e72;
}

.category-box .category-count{
  background-color: #3c40c6;
  color: #ffffff;
  font-weight: bold;
  width: 48px;
  height: 48px;
  text-align: center;
  line-height: 50px;
  border-radius: 50%;
  -webkit-border-radius:50%;
  -moz-border-radius:50%;
  -ms-border-radius:50%;
  -o-border-radius:50%;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .categories-heading{
    margin: 0 !important;
    margin-top: 15px !important;
    padding: 0px !important;
    padding-top: 5px !important;
  }

  .category-box{
    margin: 0px;
  }

  .dashboard-card{
    margin-top: 12px !important;
    margin-bottom: 12px !important;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

}

/* Medium devices (landscape tablets, 768px and up) */
@media all and (min-width: 600px) and (max-width: 768px){
  .dashboard-card i{
    font-size: 40px;
  }

  .dashboard-card h6{
    font-size: 14px;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {}
