<div class="row">
    <div class="col-12">
        <app-heading></app-heading>
<!--        top-right-button btn btn-primary btn-lg mr-2-->

        <app-breadcrumb></app-breadcrumb>
        <div class="separator mb-5"></div>
    </div>
</div>
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<div class="container">
    <div class="row">
        <div class="col-md-10 ">
            <div class="row">
                <div class="col-md-4">
                    <a routerLink="/app/boat-management" class="dashboard-link">
                        <div class="dashboard-card py-4 my-4 boat-box">
                            <i class="fa fa-ship" aria-hidden="true"></i>
                            <h6 class="text-center">{{'Boats management' | translate}}</h6>
                        </div>
                    </a>
                </div>
                <div class="col-md-4">
                    <a routerLink="/app/sailor-management">
                        <div class="dashboard-card py-4 my-4 sailor-box">
                            <i class="fa fa-anchor" aria-hidden="true"></i>
                            <h6 class="text-center">{{'Sailors management' | translate}}</h6>
                        </div>
                    </a>
                </div>
                <div class="col-md-4">
                    <a routerLink="/app/member-registration">
                        <div class="dashboard-card py-4 my-4 user-box">
                            <i class="fa fa-user" aria-hidden="true"></i>
                            <h6 class="text-center">{{'Members management' | translate}}</h6>
                        </div>
                    </a>
                </div>
                <div class="col-md-4">
                    <a routerLink="/app/race-season-management">
                        <div class="dashboard-card my-1 py-4 race-box">
                            <i class="fa fa-flag-checkered" aria-hidden="true"></i>
                            <h6 class="text-center">{{'Races management' | translate}}</h6>
                        </div>
                    </a>
                </div>
                <div class="col-md-4">
                    <a routerLink="/app/sailor-transfer">
                        <div class="dashboard-card my-1 py-4 transfer-box">
                            <i class="fa fa-exchange" aria-hidden="true"></i>
                            <h6 class="text-center">{{'Sailors transfer' | translate}}</h6>
                        </div>
                    </a>
                </div>
                <div class="col-md-4">
                    <a routerLink="/app/season-champions">
                        <div class="dashboard-card my-1 py-4 cup-box">
                            <i class="fa fa-trophy" aria-hidden="true"></i>
                            <p class="text-center">6</p>

                            <h6 class="text-center">{{'Seasons champions' | translate}}</h6>
                        </div>
                    </a>
                </div>
            </div>
        </div>

    </div>
</div>
