<section class="portfolio-section pb-0 portfolio-metro zoom-gallery">
    <div class="filter-section" >
      <h1 class="mb-4 mt-5 " style="width: 100%;"><span class="bold-text color-animated">Calligraphy</span></h1>
        <div class="container-fluid p-0">
  <app-portfolio-gallery class="p-4col-width portfolio-margin p-0"></app-portfolio-gallery>
    </div>
  </div>
  </section>
  <!-- Section ends -->