<!--&lt;!&ndash;breadcrumb section start&ndash;&gt;-->
<!--<section class="portfolio-metro bg p-b-0" [ngStyle]="{'background-image': 'url(assets/images/portfolio/portfolio-new/font.png)'}">-->
<!--        <div class="container-fluid">-->
<!--            <div class="container">-->
<!--                <div class="row">-->
<!--                    <div class="col-md-9 col-sm-9 text-center ">-->
<!--                        <div class="portfolio_section">-->
<!--                            <div>-->
<!--                                <h1 class="breadcrumb-text"><span class="bold-text color-animated">Calligraphy</span></h1>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </section>-->
<!--    &lt;!&ndash;breadcrumb section end&ndash;&gt;-->