<div id="app-container" [className]="sidebar.containerClassnames">
    <app-topnav></app-topnav>
    <app-sidebar></app-sidebar>
    <main>
        <div class="container-fluid">
            <router-outlet></router-outlet>
            <simple-notifications></simple-notifications>
        </div>
    </main>
    <app-footer></app-footer>
</div>
