@font-face {
   font-family: 'fontello';
      src: url('../font/fontello.eot?69603606');
      src: url('../font/fontello.eot?69603606#iefix') format('embedded-opentype'),
           url('../font/fontello.woff?69603606') format('woff'),
           url('../font/fontello.ttf?69603606') format('truetype'),
           url('../font/fontello.svg?69603606#fontello') format('svg');
      font-weight: normal;
      font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?91576445#fontello') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: never;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
 
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-pillars:before { content: '\e800'; } /* '' */
.icon-competitions:before { content: '\e801'; } /* '' */
.icon-survey:before { content: '\e802'; } /* '' */
.icon-initiative:before { content: '\e803'; } /* '' */
.icon-news:before { content: '\e804'; } /* '' */
.icon-faq:before { content: '\e805'; } /* '' */
.icon-gallery:before { content: '\e806'; } /* '' */
.icon-calendar:before { content: '\e807'; } /* '' */
.icon-banner:before { content: '\e808'; } /* '' */
.icon-apps:before { content: '\e809'; } /* '' */
.icon-dashboard:before { content: '\e80a'; } /* '' */
.icon-books:before { content: '\e80b'; } /* '' */