
.icon-pillars:before { content: '\e800'; } /* '' */
.icon-competitions:before { content: '\e801'; } /* '' */
.icon-survey:before { content: '\e802'; } /* '' */
.icon-initiative:before { content: '\e803'; } /* '' */
.icon-news:before { content: '\e804'; } /* '' */
.icon-faq:before { content: '\e805'; } /* '' */
.icon-gallery:before { content: '\e806'; } /* '' */
.icon-calendar:before { content: '\e807'; } /* '' */
.icon-banner:before { content: '\e808'; } /* '' */
.icon-apps:before { content: '\e809'; } /* '' */
.icon-dashboard:before { content: '\e80a'; } /* '' */
.icon-books:before { content: '\e80b'; } /* '' */