
<!-- footer start -->
<footer class="resume copyright copyright-bg inner-pages-footer">
    <div class="container  ">
<!--        <div class="row">-->
<!--            <div class="col-12">-->
<!--                <div class="link link-horizontal  text-center mb-3">-->
<!--                    <img src="assets/images/logo/5.png" alt="" class="img-fluid">-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="col-12">-->
<!--                <div class="link link-horizontal">-->
<!--                    <ul class="justify-content-center">-->
<!--                        <li><a href="javascript:void(0)" class="copyright-text">home</a></li>-->
<!--                        <li><a href="javascript:void(0)" class="copyright-text">couple</a></li>-->
<!--                        <li><a href="javascript:void(0)" class="copyright-text">invitation</a></li>-->
<!--                        <li><a href="javascript:void(0)" class="copyright-text">album </a></li>-->
<!--                        <li><a href="javascript:void(0)" class="copyright-text">friends say</a></li>-->
<!--                        <li><a href="javascript:void(0)" class="copyright-text">gift</a></li>-->
<!--                    </ul>-->
<!--                </div>-->
<!--            </div>-->

                 <!-- About Us Area Start -->
     <div  id="about" class="about-us-area section-padding-40-0 clearfix">
     <div class="container">
            <div class="col-12">
                <div class="section-heading text-center wow fadeInUp" data-wow-delay="100ms">

                </div>
            </div>

            <div class="row">

                <div class="line wow fadeInUp" data-wow-delay="200ms"></div>

            </div>

        </div>
    </div>
    <!-- About Us Area End -->


    <!-- Contact Area Start -->
    <div id="contact" style="margin-top: 20px;">
        <div class="container ">
            <div class="row col-lg-12   ">
                <div class="col-lg-6 pb-4 " >
                    <h2 class="contact-title">About Us</h2>
<!--                    <p class="mt-4" data-wow-delay="300ms"> Hello</p>-->
                    <p class="mt-4" data-wow-delay="300ms">{{userdata.aboutDetails}}</p>
                </div>
                <div class="col-lg-6" >
<!--                     Contact Info -->
                    <h2 class="contact-title mb-2">Contact Us</h2>
                    <div class="col-12 col-md-6 col-lg-12 p-0 ">
                        <div class="col-12 col-md-12 col-lg-6 p-0 pb-2 float-left">
                            <p class="font-weight-bold mb-1">Email</p>
<!--                            <a href="">Mustafa.Raza@builtindsoft.com</a>-->
                            <a href="mailto:{{userdata.email}}">{{userdata.email}}</a>
                        </div>
                        <!-- Contact Info -->
                        <div class="col-12 col-md-12 col-lg-6 p-0 float-left">
                            <p class="font-weight-bold mb-1" >Call Us</p>
<!--                            <a href="">03082403011</a>-->
                            <a href="#">{{userdata.phoneNo}}</a>
                        </div>
                    </div>

<!--                    tem Block end-->

                </div>
            </div>
        </div>
    </div>
    <!-- Contact Area End -->
            <div class="col-12 mt-5">
                <div class="text-center">
                    <div class="social-link link-horizontal">
                        <ul class="justify-content-center">
                            <li><a href="{{userdata.facebook}}" target="_blank" class="copyright-text"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                            <li><a href="{{userdata.instagram}}" target="_blank" class="copyright-text"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                            <li><a href="{{userdata.pickart}}" target="_blank" class="copyright-text"><i class="fa fa-pinterest" aria-hidden="true"></i></a></li>
                             <li><a href="{{userdata.twitter}}" target="_blank" class="copyright-text "><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                             <li><a href="{{userdata.linkedIn}}" target="_blank"  class="copyright-text "><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
<!--        </div>-->
    </div>
</footer>
<!-- footer end -->

<!--<app-tap-to-top></app-tap-to-top>-->
