<div class="h-100">
    <app-color-switcher *ngIf="isMultiColorActive"></app-color-switcher>
    <router-outlet></router-outlet>

    <div *ngIf="loading === true">
        <ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "medium" color = "#fff" type = "timer" [fullScreen] = "true"><p style="color: white" > Uploading... </p></ngx-spinner>
    </div>

    <div *ngIf="loading === false">
        <ngx-spinner type="line-scale-pulse-out-rapid"> </ngx-spinner>
    </div>

    <simple-notifications></simple-notifications>

</div>



