<ng-template #add_new_image>
    <div class="modal-header">
        <h4 class="modal-title pull-left">{{'pages.add-image' | translate}}</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="hide()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <form [formGroup]="addNewImage" (ngSubmit)="onsubmit()">
        <div class="modal-body">
            <div class="form-row">
                <div class="form-group col-lg-12">
                    <label class="form_label required ">{{"Image Title EN *"|translate}}</label>
                    <input formControlName="ImageGalleryTitleEn" type="text" class="form-control">
                    <div *ngIf="ImageGalleryTitleEn.invalid && (ImageGalleryTitleEn.dirty || ImageGalleryTitleEn.touched)"
                         class="alert alert-danger">
                        <div *ngIf="ImageGalleryTitleEn.errors.required">{{"Image Title EN is required."|translate}}</div>
                    </div>
                </div>

                <div class="form-group col-lg-12">
                    <label class="form_label required ">{{"Image Title AR *"|translate}}</label>
                    <input formControlName="ImageGalleryTitleAr" type="text" class="form-control">
                    <div *ngIf="ImageGalleryTitleAr.invalid && (ImageGalleryTitleAr.dirty || ImageGalleryTitleAr.touched)"
                         class="alert alert-danger">
                        <div *ngIf="ImageGalleryTitleAr.errors.required">{{"Image Title AR is required."|translate}}</div>
                    </div>

                </div>

                <div class="form-group col-lg-12">
                    <label class="form_label required ">{{'Picture*' | translate}}</label>
                    <div class="custom-file" *ngIf="!this.showImgIcon">
                        <div>
                            <input formControlName="file" name="file" type="file"
                                   class="form-control custom-file-input"
                                   accept="image/jpg, image/jpeg, image/png" (change)="onFileSelect($event)"
                                   #UploadFileInput>
                            <label class="custom-file-profile forms_margin"></label>
                            <div *ngIf="FileToUpload.invalid && (FileToUpload.dirty || FileToUpload.touched)"
                                 class="alert alert-danger">
                                <div *ngIf="FileToUpload.errors.required">{{"Image is required."|translate}}</div>
                            </div>
                            <div *ngIf="imagevalidate === true" class="alert alert-danger">
                                <div *ngIf="imagevalidate === true">{{"Image should be less than 5 Mbs."|translate}}</div>
                            </div>
                        </div>
                    </div>
                    <div *ngIf="this.showImgIcon">
                        <a href="javascript:;">
                            <img (click)="deleteImage()" src="assets/img/file-close.png" height="40px" width="40px"></a>
                        <!--                            <span >-->
                        <!--                                <i class="iconsminds-close mr-1  mb-1 align-self-center pr-4"-->
                        <!--                                   style="color: red; font-size: 1rem"></i></span>-->
                        <h5>{{this.myFile.name}}</h5>
                    </div>
                </div>

                <!--                <div class="form-row col-md-12">-->
                <!--                    <div class="form-group col-lg-12">-->
                <!--                        <label class="form_label required lable_style">Picture*</label>-->
                <!--                        <div class="custom-file">-->
                <!--                            <div>-->
                <!--                                <input formControlName="file" name="file" type="file"-->
                <!--                                       class="form-control custom-file-input"-->
                <!--                                       accept="image/jpg, image/jpeg, image/png" (change)="onFileSelect($event)"-->
                <!--                                       #UploadFileInput>-->
                <!--                                <label class="custom-file-profile forms_margin"></label>-->
                <!--                                <div *ngIf="FileToUpload.invalid && (FileToUpload.dirty || FileToUpload.touched)" class="alert alert-danger">-->
                <!--                                    <div *ngIf="FileToUpload.errors.required">Image is required.</div>-->
                <!--                                </div>-->
                <!--                            </div>-->
                <!--                        </div>-->
                <!--                    </div>-->
                <!--                </div>-->
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="card mb-4">
                        <div class="card-body">
                            <h5 class="mb-4">{{ 'form-components.dropzone' | translate }}</h5>

                                <dropzone  [config]="myConfig" [message]="'form-components.dropzone-message' | translate" (addedFile)="onMultipleFileSelect($event)"  (drop)="onMultipleFileSelect($event)" (removedFile)="onDeleteMultipleImage($event)" (error)="onUploadError($event)" (success)="onUploadSuccess($event)"  ></dropzone>

                        </div>
                    </div>
                </div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-outline-primary"
                        (click)="hide()">{{'pages.cancel' | translate }}</button>
                <button type="submit" class="btn btn-primary float-right">{{ 'pages.submit' | translate}}</button>
            </div>
        </div>
    </form>
</ng-template>

