<ng-template #add_new_video>
    <div class="modal-header">
        <h4 class="modal-title pull-left">Add New Category</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="hide()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <form [formGroup]="addNewCategory" (ngSubmit)="onsubmit()">
        <div class="modal-body">
            <div class="form-row">

                <div class="form-group col-lg-12">
                    <label class="form_label required ">Category title</label>
                    <input formControlName="name" type="text" class="form-control">
                    <div *ngIf="name.invalid && (name.dirty || name.touched)"
                         class="alert alert-danger">
                        <div *ngIf="name.errors.required">{{"categoryTitle is required."|translate}}</div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-primary"
                        (click)="hide()">{{'pages.cancel' | translate }}</button>
                <button type="submit" class="btn btn-primary float-right">{{ 'pages.submit' | translate}}</button>
            </div>
        </div>
    </form>
</ng-template>

