<app-add-category (itemSaved)="OnSaved()" #linsh></app-add-category>
<app-update-category (itemSaved)="OnSaved()" #update></app-update-category>
<div class="col-12">
    <app-heading></app-heading>
    <div class="top-right-button-container text-zero">
        <button type="button" (click)="onAddNewItem()"
                class="top-right-button btn btn-primary btn-lg mr-1">{{ 'pages.add-new' | translate}}</button>
    </div>
    <!--    <app-breadcrumb></app-breadcrumb>-->
    <div class="display-options-container">
        <a class="btn pt-0 pl-0 d-inline-block d-md-none c-pointer" data-toggle="collapse"
           (click)="displayOptionsCollapsed = !displayOptionsCollapsed" role="button" aria-expanded="true"
           aria-controls="displayOptions">
            {{ 'pages.display-options' | translate}} {{' '}}
            <i class="simple-icon-arrow-down align-middle"></i>
        </a>
        <div id="displayOptions" [collapse]="displayOptionsCollapsed" class="collapse dont-collapse-sm">
            <div class="d-inline-block col-lg-12" style="margin: 0px;padding: 0px;">

                <div class="float-right" *ngIf="showItemsPerPage">

                    <span class="text-muted text-small">{{'Per page ' | translate}}</span>
                    <span dropdown class="d-inline-block position-relative">
                            <button class="btn btn-outline-dark btn-xs dropdown-toggle" type="button"
                                    data-toggle="dropdown"
                                    aria-haspopup="true" aria-expanded="false" dropdownToggle>
                              {{itemsPerPage}}
                            </button>
                            <div class="dropdown-menu dropdown-menu-right dropdown-menu-sm text-right" *dropdownMenu>
                              <li role="menuitem" *ngFor="let item of itemOptionsPerPage"><a
                                      [ngClass]="item === itemsPerPage ? 'dropdown-item active' : 'dropdown-item'"
                                      (click)="onChangeItemsPerPage(item)">{{item}}</a></li>
                            </div>
                            </span>
                </div>
            </div>
        </div>

        <div hidden class="separator mb-4"></div>
    </div>
</div>
<context-menu #basicMenu>
    <ng-template contextMenuItem let-item (execute)="onContextMenuClick('delete',$event.item)">
        <i class="simple-icon-trash mr-1"></i><span>Delete</span>
    </ng-template>
</context-menu>

<div class="col-12 list">
    <div class="row">
        <div class="col-12 list">
            <div style="background-color:#e3e3e3 " [ngClass]="{'card d-flex flex-row' :true}">
                <div class="d-flex flex-grow-1 min-width-zero ">
                    <div class="card-body align-self-center d-flex flex-column flex-md-row justify-content-between min-width-zero align-items-md-center">
                        <!--                        <h2 class="mb-0 list-item-heading w-6 w-xs-100">Id</h2>-->
                        <h2 class="list_sub_style mb-0 list-item-heading w-15 w-xs-100">{{ 'Sr #' | translate}}</h2>
                        <h2 class="list_sub_style mb-0 list-item-heading w-15 w-xs-100">{{ 'Category Title' | translate}}</h2>
                        <!--                            <h2 class="list_sub_style mb-0 list-item-heading w-15 w-xs-100">Banner Description</h2>-->
                    </div>
                    <i class=" simple-icon-trash mr-1  mb-1 align-self-center pr-4"
                       style="color:#e3e3e3; font-size: 1rem" placement="left"></i>
                    <i class=" simple-icon-trash mr-1  mb-1 align-self-center pr-4"
                       style="color:#e3e3e3; font-size: 1rem" placement="left"></i>
                </div>
            </div>
        </div>
    </div>
    <div *ngIf="categories!==null" class="row">
        <div class="col-12 list">
            <div [ngClass]="{'card d-flex flex-row mb-3': true, 'active':isSelected(record)}"
                 *ngFor="let record of categories; let i=index">


                <div class="d-flex flex-grow-1 min-width-zero">
                    <div class="card-body align-self-center d-flex flex-column flex-md-row justify-content-between min-width-zero align-items-md-center">
                        <a class="list_sub_style list-item-heading mb-0 truncate w-15 w-xs-100" href="javascript:;">
                            {{i + 1}}</a>
                        <p class="list_sub_style mb-0 text-muted  w-15 w-xs-100">{{record?.name}}</p>
                    </div>

                    <i class="simple-icon-pencil mr-1  mb-1 align-self-center pr-4"
                       style="font-size: 1rem" (click)="edit(record)"></i>

                    <i class="simple-icon-trash mr-1  mb-1 align-self-center pr-4"
                       style="color: red; font-size: 1rem"
                       mwlConfirmationPopover
                       [popoverTitle]="'title'"
                       [popoverMessage]="'message'"
                       [confirmText]="'Confirm'  | translate"
                       [cancelText]="'Cancel' | translate"
                       placement="top"
                       (confirm)=delete(record.id)
                       (cancel)="cancelClicked = true"></i>
                    <label class="custom-control custom-checkbox mb-1 align-self-center pr-4" hidden>
                        <input type="checkbox" class="custom-control-input" [id]="'customCheck'+i"
                               [checked]="isSelected(record)"
                               (change)="onSelect(record)">
                        <label class="custom-control-label" [for]="'customCheck'+i"></label>
                    </label>
                </div>
            </div>
        </div>

    </div>
    <div class="col-12">
        <pagination [totalItems]="totalItem" [itemsPerPage]="itemsPerPage" [rotate]="true" [maxSize]="5"
                    [(ngModel)]="currentPage" (pageChanged)="pageChanged($event)" class="justify-content-center"
                    [customNextTemplate]="nextTemplate" [customPreviousTemplate]="prevTemplate">
        </pagination>
    </div>
</div>
<ng-template #nextTemplate let-disabled="disabled" let-currentPage="currentPage">
    <i class='simple-icon-arrow-right'></i>
</ng-template>
<ng-template #prevTemplate let-disabled="disabled" let-currentPage="currentPage">
    <i class='simple-icon-arrow-left'></i>
</ng-template>

