<a  class="overlay-sidebar-header"  [class.overlay-sidebar-header-open]="openSide" (click)="closeOverlay()"></a>
<div class="responsive-btn">
    <a routerLink="/" routerLinkActive="active" style="color: white; background-color: black">About</a>
</div>
<div class="navbar m-l-auto" style="background-color: black !important" id="togglebtn" [class.openSidebar]="openSide" >
    <div class="responsive-btn">
        <a (click)="toggleSidebar()">
            <h5>back</h5>
        </a>
    </div>
    <ul class="main-menu">
        <!-- 1st Level Menu -->
        <li *ngFor="let menuItem of menuItems" [class]="menuItem.megaMenu ? 'mega-menu' : ''">

            <!-- Link -->
            <a routerLink="/" style="background-color: black" routerLinkActive="active" *ngIf="menuItem.type === 'link'">
                {{menuItem.title}}
            </a>


        </li>
        </ul>
</div>
  
