<div class="modal-header">
    <h4 class="modal-title pull-left">About Setting</h4>
</div>

<div class="card mb-4">
    <form [formGroup]="aboutForm" (ngSubmit)="onsubmit()">
        <div class="modal-body">
            <div class="form-row">
                <div class="form-group col-lg-6">
                    <label class="form_label required ">FaceBook Profile Url</label>
                    <input formControlName="facebook" type="text" class="form-control">
                    <div *ngIf="facebook.invalid && (facebook.dirty || facebook.touched)"
                         class="alert alert-danger">
                        <div *ngIf="facebook.errors.required">FaceBook Url is required</div>
                    </div>
                </div>
                <div class="form-group col-lg-6">
                    <label class="form_label required ">linkedIn URL</label>
                    <input formControlName="linkedIn" type="text" class="form-control">
                    <div *ngIf="linkedIn.invalid && (linkedIn.dirty || linkedIn.touched)"
                         class="alert alert-danger">
                        <div *ngIf="linkedIn.errors.required">LinkedIn Url is required</div>
                    </div>
                </div>
                <div class="form-group col-lg-6">
                    <label class="form_label required ">PickArt URL</label>
                    <input formControlName="pickart" type="text" class="form-control">
                    <div *ngIf="pickart.invalid && (pickart.dirty || pickart.touched)"
                         class="alert alert-danger">
                        <div *ngIf="linkedIn.errors.required">LinkedIn Url is required</div>
                    </div>
                </div>
                <div class="form-group col-lg-6">
                    <label class="form_label required ">Isntagram URl</label>
                    <input formControlName="instagram" type="text" class="form-control">
                    <div *ngIf="instagram.invalid && (instagram.dirty || instagram.touched)"
                         class="alert alert-danger">
                        <div *ngIf="instagram.errors.required">Isntagram URl is required</div>
                    </div>
                </div>
                <div class="form-group col-lg-6">
                    <label class="form_label required ">Twitter URl</label>
                    <input formControlName="twitter" type="text" class="form-control">
                    <div *ngIf="twitter.invalid && (twitter.dirty || twitter.touched)"
                         class="alert alert-danger">
                        <div *ngIf="twitter.errors.required">Isntagram URl is required</div>
                    </div>
                </div>
                <div class="form-group col-lg-6">
                    <label class="form_label required ">Email</label>
                    <input formControlName="email" type="text" class="form-control">
                    <div *ngIf="email.invalid && (email.dirty || email.touched)"
                         class="alert alert-danger">
                        <div *ngIf="email.errors.required">Email is required</div>
                    </div>
                </div>
                <div class="form-group col-lg-6">
                    <label class="form_label required ">PhoneNo</label>
                    <input formControlName="phoneNo" type="text" class="form-control">
                    <div *ngIf="phoneNo.invalid && (phoneNo.dirty || phoneNo.touched)"
                         class="alert alert-danger">
                        <div *ngIf="phoneNo.errors.required"> Phone is required</div>
                    </div>
                </div>
                <div class="form-group col-lg-6">
                    <label class="form_label required ">Address</label>
                    <input formControlName="address" type="text" class="form-control">
                    <div *ngIf="address.invalid && (address.dirty || address.touched)"
                         class="alert alert-danger">
                        <div *ngIf="address.errors.required"> Address is required</div>
                    </div>
                </div>
                <div class="form-group col-lg-12">
                    <label class="form_label required ">About*</label>
                    <textarea formControlName="aboutDetails" type="text" class="form-control" rows="5"
                              cols="50"></textarea>
                    <div *ngIf="aboutDetails.invalid && (aboutDetails.dirty || aboutDetails.touched)"
                         class="alert alert-danger">
                        <div *ngIf="aboutDetails.errors.required">{{ 'aboutDetails Description is required' | translate}}</div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <!--                <button type="button" class="btn btn-outline-primary">{{'pages.cancel' | translate }}</button>-->
                <button type="submit" class="btn btn-primary float-right">{{ 'pages.submit' | translate}}</button>
            </div>
        </div>
    </form>
</div>
